# iroffer configuration for testing
# See https://iroffer.net/ for documentation

# Network settings
name testxdcc
server ircd 6667

# Bot settings
user_nick xdccbot
user_realname XDCC Test Bot
user_modes +i

# Channel to join
channel #test

# Bandwidth limit for testing (100KB/s)
bandwidth 100

# Admin user (using hostmask only for testing)
adminhost *@*

# Allow all users to request XDCC downloads in test environment
downloadhost *!*@*

# File serving settings
filedir /files
slotsmax 3
autoadd_time 2
autoadd_dir /files

# DCC port range for transfers
# iroffer will auto-detect the IP address
tcprange 10000 10010

# Required files - use /config for writable files
logfile /config/iroffer.log
pidfile /config/iroffer.pid
statefile /config/iroffer.state
xdcclistfile /config/iroffer.txt

# Verbose logging for debugging (log to file, not console)
logstats
lognotices
logccinfo

# Disable some features for testing
nodccchat
nomd5
nosort

# Connection settings
noproxy
noident

# Auto-join and connect
autostart
