name: Python Code Checks

permissions:
  contents: read

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  test:
    name: Validate Code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Primes
        id: cache-primes
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/uv
            ~/.cache/pip
          key: uv-cache-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            uv-cache-

      - name: Set up Python environment
        run: |
          wget -qO- https://astral.sh/uv/install.sh | sh
          uv sync

      - name: Run Ruff (PEP 8 Formatting)
        run: |
          uv run make format

      - name: Run Ruff (Linting + Docstrings)
        run: |
          uv run make check

      - name: Run vulture (Duplicate Code)
        run: |
          uv run make vulture

      - name: Run xenon (Cyclomatic Complexity)
        run: |
          uv run make xenon

      - name: Run bandit (Security)
        run: |
          uv run make bandit

      - name: Run pyright (Type Checking)
        run: |
          uv run make pyright

      - name: Run pytest (Test Suite)
        run: |
          cp config.json.sample config.json
          uv run make test
